# terraform.tfvars.example
# Copy this file to terraform.tfvars and fill in your values


region        = "your-aws-region"        # e.g. "ap-south-1"
aws_profile   = "your-aws-profile-name"  # e.g. "default"
instance_type = "t3.micro"               # e.g. "t3.micro"
key_name = "your-key-pair-name"